.container {
  // height: 103vh;
}

.content {
  margin: 10px 20px 20px 20px;
  padding: 0 0 0.8rem 0;
  border-radius: 30px;
  background-color: #ffffff;
  border: #000000 2px solid;
  // height: 65vh;
}

.header {
  height: 3rem;
  line-height: 3rem;
  justify-content: center;
  border-bottom: #d1d5db 3px solid;
}

.title {
  width: 5rem;
  flex-direction: row;
  margin-left: 0.8rem;
  color: #000000;
  font-weight: 700;
  font-size: 34px;
}

.btn {
  position: absolute;
  right: 20px;
  width: 5rem;
  background-color: #000000;
  border-radius: 9999px;
}

.row {
  margin: 20px 20px 20px 20px;
  line-height: 2rem;
  // flex-direction: row;
}

.key {
  color: #000000;
  font-size: 32px;
  margin-left: 0.3rem;
}

.value {
  height: 2.5rem;
  border-radius: 6px;
  padding: 20px;
  margin-top: 0.2rem;
  background-color: #ffffff;
  border: #000000 3px solid;
}