.container {
  width: 22.25rem;
  height: 100%;
  margin: 5px 20px 20px 20px;
  border: #000000 2px solid;
  background-color: #ffffff;
  border-radius: 16px;
}

.title {
  margin-left: 0.8rem;
  margin-top: 0.8rem;
  color: #000000;
  font-size: 36px;
  font-weight: 700;
}

.content {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-top: 0.5rem;
}