.container {
  height: 103vh;
}

.card {
  width: 22.25rem;
  padding: 20px;
  margin: 10px 20px 20px 20px;
  border-radius: 16px;
  border: 2px solid #000000;
  background-color: #ffffff;
}

.avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 9999px;
}