.navbarContainer {
  height: 4.8rem;
}

.title {
  top: 2.2rem;
  left: 28px;
  width: 8rem;
  height: 2rem;
  color: rgba(0, 0, 0, 1);
  font-weight: 800;
  font-size: 48px;
  line-height: 2rem;
}

.btn {
  position: absolute;
  top: 2.2rem;
  right: 20px;
  width: 5rem;
  background-color: #000000;
  border-radius: 9999px;
}