.container {
  // 自动适应
  // height: 70rem;
}

.content {
  margin-top: 0.5rem;
}

.title {
  left: 1rem;
  color: #000000;
  font-weight: 800;
  font-size: 38px;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}